<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>welome to super hero</h1>
    <form action="/search" method="POST">
        <input type="text" name="search_character" placeholder="character name">
        <button type="submit">search</button>
    </form>
</body>

</html>